.main{
    height: 110vh;
    width: 100vw;
    max-width: 100%;
    /* background-color: green; */
    display: flex;
    /* overflow: hidden; */
}
.mainleft{
    height: 100vh;
    width: 50vw;
    position: relative;
}
.mainleft>.mustneeded>h1{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    font-size: 150vh;
    color: brown;
    /* font-weight: 400; */
}
.mainleft:hover{
    cursor: crosshair;
}
.mainright:hover{
    cursor: crosshair; 
}
.mainleft>.mustneeded>.mainleftinner{
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    top: 33vh;
}
.mainleft>.mustneeded>.mainleftinner>:nth-child(1){
    font-size: 11vh;
    text-transform: uppercase;
    opacity: 0;
}
.mainleft>.mustneeded>.mainleftinner>:nth-child(2){
    font-size: 6.5vh;
    text-transform: capitalize;
    opacity: 0;
}
.mainleft>.mustneeded>.mainleftinner>:nth-child(3){
    font-size: 2.5vh;
    opacity: 0;
}
.mainright{
    height: 100vh;
    width: 50vw;
    position: relative;
    overflow: hidden;
}
.vid{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.mainright>.innerright1{
    height: 100vh;
    width: 50vw;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;

}
.mainright>.innerright1>.random1>h1{
    font-size: 50vw;
    font-weight: 900;
    margin-right: 29vh;
    /* font-family: gilroy; */
}
@media only screen and (max-width: 600px) {
    .mainright{
        width: 100vw;
    }
    .mainright>h1{
        display: none;
    }
    .mainleft{
        display: none;
    }
    .mainright>.mainrightinner{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        font-weight: 900;
        /* background-color: chocolate; */
        background-color: white;
        mix-blend-mode: screen;
        gap: 2vh;
    }
    .mainright>.mainrightinner>:nth-child(1){
        /* background-color: rgb(236, 236, 236);
        mix-blend-mode: screen; */
        font-size: 8vh;
        text-transform: uppercase;
        margin-top: 10vh;
    }
    .mainright>.mainrightinner>:nth-child(2){
        /* background-color: rgb(236, 236, 236);
        mix-blend-mode: screen; */
        font-size: 5vh;
        text-transform: capitalize;
    }
    .mainright>.mainrightinner>:nth-child(3){
        /* background-color: rgb(236, 236, 236);
        mix-blend-mode: screen; */
        font-size: 2.5vh;
        text-align: center;
    }
    .mainright>h2{
        display: flex;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 130vh;
        z-index: 999;
        color: brown;
    }
}
