.main{
    position: absolute;
    /* position: fixed; */
    z-index: 999;
    height: 5vh;
    width: 100vw;
    max-width: 100%;
    /* background-color: royalblue; */
    /* transform-origin: right; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 3.5vh 3vh;
}
.left{
    height: 5vh;
    width: 50vw;
    /* background-color: red; */
}
.right{
    /* background-color: purple; */
    height: 5vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    font-size: 2.2vh;
    font-weight: 900;
    margin-left: 4vh;
}
/* .lafter::after{
    height: .3vh;
    background-color: black;
    width: 10vh;
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 4vh;
}
.lafter:hover::after{
    height: .3vh;
    background-color: black;
    width: 10vh;
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    border-radius: 4vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
} */
@media only screen and (max-width: 600px) {
    .main{
        display: none;
    }
}