.main{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    /* overflow: hidden; */
    position: relative;
    display: flex;
}
.left{
    height: 100vh;
    width: 40vw;
    /* background-color: rosybrown; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.left>.c{
    font-family: 'Courier New', Courier, monospace;
    margin-left: -14vh;
    margin-top: 5vh;
    font-size: 160vh;
    color: brown;
    position: relative;
}
.left>.c::after{
    content: "ategories";
    font-size: 20vh;
    position: absolute;
    top: 70vh;
    left: 42vw;
    font-family: gilroy;
    letter-spacing: 30px;
    color: black;
    /* text-transform: uppercase; */
}
.right{
    height: 100vh;
    width: 60vw;
    position: relative;
    /* background-color: royalblue; */
}
.p1{
   height: 30vh;
   width: 30vh;
   background-color: royalblue; 
   border-radius: 50%;
   position: absolute;
   top: 35vh;
   left: 25vw;
}
.p2{
    height: 30vh;
    width: 30vh;
    background-color: blue; 
    border-radius: 50%;
    position: absolute;
    top: 35vh;
    left: -5vw;
 }
 .p3{
    height: 30vh;
    width: 30vh;
    background-color: blue; 
    border-radius: 50%;
    position: absolute;
    top: 55vh;
    left: 40vw;
 }
 .p4{
    height: 30vh;
    width: 30vh;
    background-color: blue; 
    border-radius: 50%;
    position: absolute;
    top: 55vh;
    left: 10vw;
 }
/* .mainheader{
    font-size: 6vh;
    margin-left: 45%;
    font-family: gilroy;
    font-weight: 500;
    letter-spacing: 4px;
}
.offer{

    border-bottom: 1px black solid;
    display: flex;
    overflow-x: auto;
    border-top: 1px black solid;
}
.offer>.offers{
    height: 50vh;
    width: 100vw;
    min-width: 100vw;

    border-left: 1px black solid;

    font-family: samarkan;
    font-size: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.offer>.offers>h3{
    font-size: 7vh;
}
.offer::-webkit-scrollbar{  

    height: 1vh;
    width: 10vh;
    background-color: white;

}
.offer::-webkit-scrollbar-thumb:hover{
    background-color: black;
    cursor: grab !important;
}
.offer::-webkit-scrollbar-thumb{
    background-color: rgba(34, 33, 33, 0.808);
    border-radius: 5vh;

    width: 3vw;
}
.offer>h1{
    font-family: samarkan;
    font-size: 15vh;
}
@media only screen and (max-width: 600px){
    .mainheader{
        font-size: 5vh;
        width: 70vw;
        margin-left: 20%;

    }
    .offer{
        overflow-y: hidden;
    }
    .offer>.offers{
        height: 40vh;
    }
    .offer>.offers>h1{
        font-size: 7vh;
    }
    
    .offer>.offers>h3{
        font-size: 6vh;
        margin-top: 1vh;
    }
} */